# Data and models
models/
metrics/
data/*
!data/raw/
!data/processed/
data/raw/*
data/processed/*
!data/raw/*.dvc
!data/processed/*.dvc
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# Datasets
*.csv
*.parquet
*.json.gz

# Python
__pycache__/
*.pyc
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and outputs
logs/
outputs/
*.log

# MLflow local tracking
mlruns/
